<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="GOAK">
    <title>About</title>
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="">
</head>
<body>
  <header>
    <h1>ASHANKO FARMS</h1>
    <nav>
      <ul>
        
      </ul>
    </nav>
  </header>

<section id="carousel">
<div class="carousel-container">
  <div class="carousel-slide">
    <img src="demo photo.jpg" alt="Fresh Vegetables">
    <img src="demo photo1.jpg" alt="Flowers">
    <img src="demo photo.jpg" alt="Organic Manure">
    <img src="demo photo1.jpg" alt="Landscaping">
    <img src="demo photo.jpg" alt="Garden Maintenance">
    <img src="Women ministry.jpg" alt="Landscaping">
  </div>

  <div class="carousel-buttons">
    <button id="prevBtn">&#10094;</button>
    <button id="nextBtn">&#10095;</button>
  </div>
</div>
</section>

<script src="script.js" defer></script>
</body>
</html>